<div class="contact-container">
    <h2 class="title">Contactez-nous</h2>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="form-group ">
        <input class="email col-offset-4" pInputText type="email" formControlName="email" placeholder="Email"/>
        <div *ngIf="contactForm.get('email')?.invalid && (contactForm.get('email')?.dirty || contactForm.get('email')?.touched)">
            <span class="font-medium text-secondary text-sm"></span>
          <small *ngIf="contactForm.get('email')?.errors?.required">Email requis.</small>
          <small *ngIf="contactForm.get('email')?.errors?.email">Email invalide.</small>
          
        </div>
      </div>
  
      <div class="form-group">
        <textarea id="message" pInputTextarea placeholder="Rédiger votre message ici" rows="5" cols="55" formControlName="message"></textarea>
        <div *ngIf="contactForm.get('message')?.invalid && (contactForm.get('message')?.dirty || contactForm.get('message')?.touched)">
          <small *ngIf="contactForm.get('message')?.errors?.required">Message requis.</small>
          <small *ngIf="contactForm.get('message')?.errors?.minlength">Le message ne peut contenir plus de 300 caracteres.</small>
        </div>
      </div>
      <p-button pButton type="submit" label="Envoyer" [disabled]="contactForm.invalid"></p-button>
      {{validationMessage}}      
    </form>
  </div>